:root {
  --border-radius: 0.6rem;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: lightblue;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.counter {
  height: 100vh;
  padding: 1rem;
}

.counter__title {
  color: var(--text-color);
  font-size: 2rem;
  margin-bottom: 3rem;
  color: goldenrod;
}

.card {
  background-color: lightcyan;
  width: 100%;
  max-width: 30rem;
  color: goldenrod;
  padding: 1rem;
  border-radius: var(--border-radius);
}

.card__title {
  font-size: 1.5rem;
}

.btn {
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: var(--border-radius);
  font-size: 1.6rem;
  transition: all 0.3s;
  margin: 0 0.2rem;
  color: goldenrod;
  background: lightseagreen;
}

.btn:hover {
  background-color: lightseagreen;
  color: black;
  cursor: pointer;
}

.btn:disabled {
  background-color: red;
}